<form action="#" id="search-create-form">
  <input type="text" id="search-create-input" placeholder=">">
</form>

<ul id="header-actions">
  <li id="header-message">
    <span></span>
  </li>
  <li id="header-action-more">
    <img src="assets/svg/show.svg" alt="show"/>
  </li>
</ul>
